body {
  background-color: #000;
  font-family: 'Familjen Grotesk', sans-serif;
}

.big-infographic-height {
  min-height: 93vh;
  height: auto !important;
}

.infographic-section {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}

.robot-container {
    position: relative;
    margin: 0 auto;
}

.robot {
  position: relative;
  background-image: url('../images/torch/TORCH_gen1 v251_WireFrame (2).png');
  background-size: 140%;
  height: 450px;
  width: 450px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.cogwheel {
  position: absolute; 
  width: 30px; 
  height: 30px;
  background-image: url('../images/gear.png');
  background-size: cover;
  transition: transform 0.5s ease-in-out;
}

.cogwheel::before,
.cogwheel::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100px;
  background-color: white;
}

.cogwheel:hover {
  transform: rotate(360deg);
}

/* Adjust cogwheel positions */
.cogwheel-1 {
  top: 195px;
  left: 175px;
}

.cogwheel-2 {
  top: 285px;
  left: 80px;
}

.cogwheel-3 {
  top: 15px;
  left: 212px;
}

.cogwheel-4 {
  top: 288px;
  left: 385px;
}

.cogwheel-5 {
  top: 230px;
  left: 300px;
}

.cogwheel-6 {
  top: 165px;
  left: 220px;
}

.cogwheel-7 {
  top: 345px;
  left: 266px;
}

.info-line {
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;  
}

.info {
  display: inline-block;
  cursor: pointer;
  margin: 20px;
  padding: 10px;
  transition: color 0.3s ease;
  width: 125px;
  opacity: 0;
  visibility: inherit;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
  color: #fff;
  position: relative;
}

.info .active {
  display: block !important;
}

.info:hover {
  color: grey;
}

.info-line .info:nth-child(1) {
  animation: revealUp 0.5s ease forwards;
  animation-delay: 0s;
}

.info-line .info:nth-child(2) {
  animation: revealUp 0.5s ease forwards;
  animation-delay: 0.5s;
}

.info-line .info:nth-child(3) {
  animation: revealUp 0.5s ease forwards;
  animation-delay: 1s;
}

.info-line .info:nth-child(4) {
  animation: revealUp 0.5s ease forwards;
  animation-delay: 1.5s;
}

.info-line .info:nth-child(5) {
  animation: revealUp 0.5s ease forwards;
  animation-delay: 2s;
}

.info-line .info:nth-child(6) {
  animation: revealUp 0.5s ease forwards;
  animation-delay: 2.5s;
}

.info-line .info:nth-child(7) {
  animation: revealUp 0.5s ease forwards;
  animation-delay: 3s;
}

@keyframes revealUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.info > span {
  display: block;
  position: relative;
  font-family: 'Familjen Grotesk', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.info p {
  display: none;
  margin-top: 10px;
  overflow: visible;
  width: 125px;
  text-align: left;
  position: absolute;
  font-size: 12px;
  line-height: 16px;
  margin-top: 5px;
  color: rgba(255,255,255,.5);
  text-transform: none;
  text-align: justify;
}

.info:hover p {
  display: block;
}

.infographic-logo {
  position: absolute;
  width: 50px;
  height: 50px;
  display: none;
  top: -50px; 
  left: 40%;
  transform: translateX(-50%);
}

.info:hover .infographic-logo {
  display: block;
}

.modal {
  display: none;
  position: absolute;
  width: 300px; 
  height: auto;
  border: none;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

/* Adjust modal positions */
#modal-1 {
  left: -255px;;
  top: 10px;
}

#modal-2 {
  left: -255px;;
  top: 10px;
}

#modal-3 {
  left: -255px;;
  top: 10px;
}

#modal-4 {
  right: -255px;
  top: 10px;
}

#modal-5 {
  right: -255px;
  top: 10px;
}

#modal-6 {
  right: -255px;
  top: 10px;
}

#modal-7 {
  right: -255px;
  top: 10px;
}

.modal-content {
  padding: 10px;
  text-align: left;
}

.modal-content h2 {
  color: #000;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Familjen Grotesk', sans-serif;
}

.modal-content p {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 15px;
  color: #333;
  text-transform: none;
  text-align: justify;
}

.modal-content img, .modal-content video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 1px solid black;
  margin-top: 10px;
}

.modal-content video {
  max-height: 300px;
}

/*modal close button */
.close-modal {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #999;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-modal:hover {
  color: #333;
}

@media (max-width: 600px) {
  .modal {
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    width: 450px;
  }

  .close-modal {
    display: block;
  }

  .info p {
    display: none;
  }

  .info .active {
    display: none !important;
  }
}

@media (max-width: 960px) {
  .modal {
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    width: 450px;
  }

  .close-modal {
    display: block;
  }

  .info p {
    display: none;
  }

  .info .active {
    display: none !important;
  }  
}

@media (max-width: 1300px) {
  .big-infographic-height {
    min-height: 850px;
    height: auto !important;
  }
}