/**,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}*/

section.faq {
    width: 100%;
    height: auto;/*170vh*/
    min-height: 130vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    margin-top: 80px;
}

.faq-container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion {
    width: 100%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordion-item {
    background-color: #283042;
    border-radius: .4rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0, 0, 0, 0.1);
}

.accordion-link {
    font-size: 16px;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link i {
    color: #e7d5ff;
    padding: .5rem;
}

.accordion-link .removeanswer {
    display: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
    transition: max-height 650ms;
}

.answer.open-answer {
    max-height: 200px;
}

.answer::before {
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: #EAAA00;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p {
    color: rgba(255, 255, 255, .6);
    font-size: 14px;
    padding: 2rem;
    text-transform: lowercase;
}

.accordion-item:target .answer {
    max-height: 20rem;
}

.accordion-item:target .accordion-link .addanswer {
    display: none;
}

.accordion-item:target .accordion-link .removeanswer {
    display: block;
}