/* General styles */
body {
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

header a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Header Navbar */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    padding: 0 30px;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Logo */
.logo {
    width: 210px;
    height: auto;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}

/* Desktop Menu */
.desktop-main-menu {
    margin-right: 50px;
}

.desktop-main-menu.doc_menu {
    margin-right: 130px;
}

.desktop-main-menu ul {
    display: flex;
}

.desktop-main-menu ul li {
    position: relative;
    margin-right: 20px;
    padding-bottom: 2px;
}

.desktop-main-menu ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color 0.6s;
}

.desktop-main-menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scale(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
}

.desktop-main-menu ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.7s;
}

/* Desktop Submenu Styles */
.desktop-main-menu ul .has-submenu .submenu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 120px;
    left: 0;
    top: 100%;
    padding: 10px 0;
}

.desktop-main-menu ul .has-submenu:hover .submenu {
    display: block;
}

.desktop-main-menu ul .has-submenu .submenu li {
    position: relative;
    margin-right: 0; 
    padding: 10px 10px;
}

.desktop-main-menu ul .has-submenu .submenu li a {
    display: block;
    color: #fff;
    text-decoration: none;
    transition: color 0.6s;
    text-transform: uppercase;
}

.desktop-main-menu ul .has-submenu .submenu li a:hover {
    color: #aaa;
}

.submenu-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    margin-left: 5px;
}

.hide {
    display: none;
}

/* Mobile Menu */
.mobile-main-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: #000;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.6s cubic-bezier(0.19,1,0.22,1);
    overflow-y: auto;
}

.show-menu {
    transform: translateX(0);
}

.mobile-main-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 50px;
    width: 100%;
}

.mobile-main-menu ul li {
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #555;
    width: 100%;
    text-align: right;
    padding-bottom: 8px;
}

.mobile-main-menu ul li a {
    color: #fff;
    transition: color 0.6s;
}

.mobile-main-menu ul li a:hover {
    color: #aaa;
}

/* Mobile Menu Submenu Styles */
.mobile-main-menu ul .submenu {
    display: none;
    width: 100%;
}

.mobile-main-menu ul li.open-submenu > .submenu {
    display: block;
}

.mobile-main-menu ul .submenu li {
    margin-bottom: 10px;
    font-size: 18px;
    border-bottom: 1px solid #555;
    padding-bottom: 8px;
    width: 90%;
    text-align: right;
}

.mobile-main-menu ul .submenu li:last-child {
    margin-bottom: 0;
}

/* Desktop specific styles */
.desktop-main-menu .has-submenu > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px; /* Adjust this value as needed */
}

.desktop-main-menu .has-submenu > a .submenu-icon {
    margin-left: 5px
}

/* Mobile specific styles */
.mobile-main-menu .has-submenu > a {
    justify-content: space-between;
    align-items: center;
}

.mobile-main-menu .has-submenu.open-submenu > a .submenu-icon {
    transform: rotate(180deg);
}

/* Hamburger Menu */
.hamburger {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
}

.hamburger-top, 
.hamburger-middle, 
.hamburger-bottom {
    position: absolute;
    width: 20px;
    height: 2px;
    top: 0;
    left: 0;
    background: #fff;
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(5px);
}

.hamburger-bottom {
    transform: translateY(10px);
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Overlay */
.overlay-show {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

/* Stop body scroll */
.stop-scrolling {
    overflow: hidden;
}

/* Hide mobile main menu items */
.mobile-only {
    display: none;
}

/* Media query for mobile devices */
@media (max-width: 960px) {
    .desktop-main-menu {
        display: none;
    }
}