section {
  text-transform: none;
}

.supplier-info {
    max-width: 900px;
    padding: 62px;
    line-height: 22px;
    min-height: calc(100vh - 250px);
}

.supplier-info h3 {
    margin-bottom: 20px;
}

.btn-supplier-left, .btn-supplier-right {
    display: inline-block;
}

.supplier-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	min-width: 250px;
	padding: 15px 30px;
	margin-top: 15px;
	border: 2px solid #fff;
	text-transform: uppercase;
	font-weight: bold;
	overflow: hidden;
	z-index: 2;
}

.supplier-btn:hover span {
	color: #000;
}

.supplier-btn .hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	color: #000;
	z-index: -1;
	transform: translateY(100%);
	transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.supplier-btn:hover .hover {
	transform: translateY(0);	
}

.h-100 {
    height: 100px;
}

.mg-t-10 {
    margin-top: 20px;
}

@media screen and (max-width: 640px) {
    p {
        text-align: justify;
    }
}

@media screen and (min-width: 700px) {
    .btn-supplier-right {
        margin-left: 50px;
    }    
}
