section {
  text-transform: none;
}

.team{
	position: relative;
	width: 100%;
	min-height: 100vh;
    /*background: radial-gradient(#281c3e,#0f051d);*/
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.team-content{
	width: 100%;
	max-width: 1280px;/*1350px*/
	margin: 0 auto;
	display: flex;
    flex-wrap: wrap;
	align-items: center;
    justify-content: center;
	gap: 2rem;
	text-align: center;
	margin-top: 1rem; /*4rem*/
}

.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}

.box{
    min-width: 200px;
    max-width: 250px;
	padding: 16px;
    border: 1px solid #fff;
	border-radius: 15px;
	transition: all .38s ease;
}

.box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.icons i:hover{
	transform: scale(1.2);
}
.box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.center h1{
		font-size: 3.2rem;
	}
}

/* Accordion slider styles */
.accordion {
    padding: 4em 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    /*background: linear-gradient(45deg, #101008, #13161c);*/
    height: 70vh;
    margin-top: 80px;
}

.accordion-item {
    --accent: #ff3e3e;
    --gradient: #391717;
    width: 5em;
    height: 23em;
    border-radius: 3em;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
    border-bottom: 2px transparent solid;
    cursor: pointer;
    transition: 200ms cubic-bezier(.91,.36,.84,.6);
}
/* Themes for each accordion item */
.accordion-item:nth-child(2){
    --accent: #3e9eff;
    --gradient: #172939;
}

.accordion-item:nth-child(3){
    --accent: #e8ff3e;
    --gradient: #353917;
}

.accordion-item:nth-child(4){
    --accent: #3eff7e;
    --gradient: #173921;
}

.accordion-item:nth-child(5){
    --accent: #3effa3;
    --gradient: #0c3f28;
}

.accordion-item:nth-child(6){
    --accent: #ff9e3e;
    --gradient: #3f2c0c;
}

.accordion-item::before {
    content: "";
    background: linear-gradient(0deg, var(--gradient), transparent);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: 200ms;
}

.accordion-item:hover {
    border-bottom: 2px var(--accent) solid;
}

.accordion-item:not(.item-active):hover:before{
    opacity: 1;
    height: 50%;
}

.accordion-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transition: width 300ms;
    transition-delay: 200ms;
    filter: brightness(0.9);
}

.accordion-item:hover:not(.item-active) img,
.item-active img {
    filter: brightness(1.25);
}

.accordion-item > div {
    position: absolute;
    left: 8em;
    bottom: 2em;
    width: 450px;
    max-width: calc(100% - 4em);
    color: #fff;
    transition: none;
    opacity: 0;
    z-index: 1;
}

.accordion-item h2 {
    margin-bottom: 5px;
}

.accordion-item h5 {
    margin-top: 0;
    font-size: 1rem;
}

.accordion-item .icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.accordion-item .icons a i {
    font-size: 1.5rem; /* Adjust icon size */
    transition: color 0.3s ease, transform 0.3s ease;
}

.accordion-item .icons a i:hover {
    color: #EAAA00; 
    transform: scale(1.2); 
}


.accordion-item p {
    line-height: 30px;
    font-size: 0.9em;
}

.item-active {
    width: 25em;
    border-bottom: 2px var(--accent) solid;
}

.item-active > div {
    left: 2em;
    transition: 200ms;
    transition-delay: 200ms;
    opacity: 1;
}

.item-active img {
    width: 110%;
}

.item-active::before {
    opacity: 1;
}

@media screen and (max-width: 700px){
    .accordion {
        flex-direction: column;
    }
    .accordion-item {
        width: 23em;
        height: 5em;
    }
    .item-active {
        height: 25em;
    }
}

@media screen and (max-width: 700px){
    .accordion-item {
        width: 100%;
    }
    .accordion-item h2 {
      font-size: 18px;
    }
    .accordion-item h5 {
      font-size: 14px;
    }
    .accordion-item p {
      line-height: 18px;
      font-size: 0.8em;
      text-transform: initial;
    }
    .accordion-item > div {
      bottom: 0em;
    }
    .accordion {
        height: auto;
    }
    .accordion-item .icons {
        display: flex;
        justify-content: center; /* Center the icons */
        gap: 5px; /* Space between icons */
        margin-top: 5px; /* Add some spacing above */
    }
}

